[submodule "toolchain/sources/gcc"]
	path = toolchain/sources/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "toolchain/sources/binutils"]
	path = toolchain/sources/binutils
	url = git://sourceware.org/git/binutils-gdb.git
